<div class="home_page_body">
  <header class="nav_bar_home_page">
    <div><%= image_tag('logo.png',class: "logo_image") %></div>

    <div>
      <a href="/admins/admin_adding_car">
        <p class="nav_bar_add_car_button_admin_power_page">Add Car</p>
      </a>
    </div>

    <a href="#">
      <div class="nav_bar_right_button">Log Out</div>
    </a>
  </header>
</div>
