<div class="main_div_for_admin_login_page">

  <div class="admin_login_blur_div">
    <div class="admin_login_and_image">
      <div class="admin_image_content">
        <div class="admin_welcome_content">WELCOME</div>
      </div>
      <div class="admin_login_div_content">
        <div class="admin_login_heading">
          <h1>Admin Login</h1>
        </div>
        <div class="form_contents">
          <form action="/user/admin" method="post">
            <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>"
          />
            <div class="input">
              <input type="email" placeholder="Mail address" name="user[email]" />
            </div>
            <div class="input">
              
              <input type="password" placeholder="Password" name="user[password]" />
            </div>
            <div class="submit_button_admin_login_page">
              <input type="submit" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
