<div class="home_page_body">
  <div class="main_div_in_admin_adding_car_page">
    <div class="admin_adding_cars_heading_div">
      <p>Adding Cars</p>
    </div>
    <form
      action="/admins/admin_add_car"
      method="post"
      enctype="multipart/form-data"
      oninput="val.value = parseInt(range.value)"
    >
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      />
      <% if flash[:error]%>
      <p class="flash_error_admin_car_adding_page"><%= flash[:error]%></p>
      <%end%>
      <div class="input_field_left">
        <span class="admin_adding_car_owner_number_title">
          Owner Mobile Number *
        </span>

        <div>
          <input
            type="tel"
            class="admin_adding_car_owner_number"
            placeholder="9838839898"
            name="car_list[owner_mobile_number]"
            autofocus
          />
        </div>

        <span class="admin_adding_car_name_title"> Car Name * </span>

        <div>
          <input
            type="text"
            class="admin_adding_car_name"
            placeholder="Dastun Redi-GO"
            name="car_list[car_name]"
          />
        </div>

        <span class="admin_adding_car_km_driven_title"> Car KM driven * </span>
        <div class="range_field">
          <input
            type="range"
            min="0"
            max="12000"
            class="range_field_input"
            value="0"
            id="range"
            required
            name="car_list[KM_driven]"
          />
          <output name="val" for="range">0</output>
        </div>

        <span class="admin_adding_car_per_day_price_title">
          Per day Car Price *
        </span>

        <div>
          <input
            type="text"
            class="admin_adding_car_per_day_price"
            placeholder="In INR"
            name="car_list[per_day_price]"
          />
        </div>
      </div>

      <div class="input_field_right">
        <span class="admin_adding_car_owner_name_title">
          Car Owner Name *
        </span>

        <div>
          <input
            type="text"
            class="admin_adding_car_owner_name"
            placeholder="User Name"
            name="car_list[car_owner_name]"
          />
        </div>

        <span class="admin_adding_car_registration_number_title">
          Car Registration Number *
        </span>

        <div>
          <input
            type="text"
            class="admin_adding_car_registration_number"
            placeholder="DN39AN1234"
            name="car_list[car_registration_number]"
          />
        </div>

        <span class="admin_adding_car_image_title"> Car Image * </span>

        <div>
          <input
            type="file"
            class="admin_adding_image"
            name="car_list[car_image]"
            required
          />
        </div>

        <div class="radio_field">
          <label class="fuel_field">Fuel *</label>
          <div>
            <input
              type="radio"
              name="car_list[fuel_type]"
              id="diesel"
              checked="checked"
              value="Diesel"
            />
            <label class="label" for="diesel">Diesel</label>
          </div>
          <div>
            <input
              type="radio"
              name="car_list[fuel_type]"
              id="petrol"
              value="Petrol"
            />
            <label class="label" for="petrol" id="petrol_label">Petrol</label>
          </div>
        </div>
      </div>

      <div>
        <input
          type="submit"
          class="admin_adding_car_submit_button"
          value="Add Car"
        />
      </div>
    </form>
  </div>
</div>
