<div class="home_page_body">
  <header class="nav_bar_adding_car_page">
    <div><%= image_tag('logo.png',class: "logo_image") %></div>
    <div>
      <p class="nav_bar_contact_us_button">Contact Us</p>
    </div>
    <div>
      <p class="nav_bar_FAQs_button">FAQs</p>
    </div>
    <a href="/homes/login">
      <div class="nav_bar_right_button">Log in</div>
    </a>
  </header>

  <div class="become_a_host_page_contents">
    <div class="become_a_host_page_cover_div">
      <div class="become_a_host_page_cover_contents">
        <p>Share your car with us and</p>
        <p class="Earn_upto_text">Earn upto &#8377; 30,000 per month.</p>
        <a href="#first_step_div">
       <div class="steps_to_share_my_car_button">Steps To Share My Car</div>
       </a>
      </div>
    </div>

    <div class="steps_to_become_host_div">
      <div class="simple_steps_title">
        <p>3 simple steps to start your earning with your car in</p>
        <p class="hours_text_in_title">24 hours.</p>
      </div>

      <div class="first_step_div" id="first_step_div">
        <div class="steps_text_content">
          <div class="steps_title">1. Contact us through e-mail</div>
          <div class="steps_content">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>

        <div class="steps_image_content">
          <%= image_tag('test.png',class: "test_image") %>
        </div>
      </div>

      <div class="second_step_div">
        <div class="steps_image_content">
          <%= image_tag('test.png',class: "test_image") %>
        </div>

        <div class="steps_text_content">
          <div class="steps_title">2. In-person Verification</div>
          <div class="steps_content">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>
      </div>

      <div class="third_step_div">
        <div class="steps_text_content">
          <div class="steps_title">
            3. Hand over your car and earn peacefully
          </div>
          <div class="steps_content">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>

        <div class="steps_image_content">
          <%= image_tag('test.png',class: "test_image") %>
        </div>
      </div>
    </div>
  </div>
</div>
