<div class="login_and_signup_page_div">
  <%= image_tag('index_page_bg.png',class: "index_image") %>
  <div class="main_div_in_login_page_and_signup_page">
    <div class="login_redirecting_container">
      <div
        class="signup_redirecting_main_div_in_login_page_and_login_redirecting_main_div_in_signup_page"
      >
        <div
          class="signup_redirecting_title_login_page_and_login_redirecting_title_in_signup_page"
        >
          <h1>Login</h1>
        </div>
        <div
          class="signup_redirecting_asking_div_login_page_and_login_redirecting_asking_div_in_signup_page"
        >
          Already have an Account, Login here.
        </div>
        <a href="/homes/login">
          <div
            class="signup_redirecting_button_in_login_page_and_login_redirecting_button_in_signup_page"
          >
            Login
          </div>
        </a>
      </div>
    </div>

    <div class="signup_container">
      <div class="login_sign_up_contents">
        <div class="signup_title">
          <h1>Sign up</h1>
        </div>
        <div class="sign_up_to_account_text_div">Create a new your Account</div>
        <form action="/homes/create" method="post">

          <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    />
        <span class="signup_input_elements">
          <span class="login_input_email_title_and_signup_ipunt_username_title">
            Username
          </span>
          <div>
            <input
              type="text"
              class="login_input_email_and_signup_input_username"
              name="user[user_name]"
              placeholder="Pavan Raaj"
              autofocus
              required
            />
          </div>
          <span>
            Mail address
          </span>
          <div>
            <input
              type="email"
              class="signup_input_email"
              name="user[email]"
              placeholder="example@abc.com"
              required
            />
          </div>
          <span class="singup_input_password_title"> Password </span>
          <div>
            <input
              type="password"
              class="signup_input_password"
              name="user[password]"
              placeholder="........."
              required
            />
          </div>
          <div class="submit_div">
            <div>
              <button class="login_button_login_page_and_signup_button_signup_page"> Sign up </button>
            </div>
          </div>
        </span>
        </form>
      </div>
    </div>
  </div>
</div>
