<header class="nav_bar_terms_and_condition_page">
  <div><a href="/"><%= image_tag('logo.png',class: "logo_image") %></a></div>
  <a href="/homes/contact_us_page">
  <div>
    <p class="nav_bar_contact_us_button_terms_and_condition_page">Contact Us</p>
  </div>
  </a>
  <a href="/homes/terms_and_condition_page">
    <div>
      <p class="nav_bar_tcs_button_terms_and_condition_page">T&C</p>
    </div>
  </a>
</header>

<div class="terms_and_conditions_div">
  <div class="terms_ad_conditions_title">
    Lease Agreement - Taxido Host and Renter
  </div>
  <div class="note_in_tcs">
    This Vehicle Lease Agreement is made and effective from the date of booking
    as reflected in the booking details on the App (the “ <strong> Agreement </strong> ”)
  </div>
  <div class="points_div">
    <div class="points_title">
      1. <strong> Terms of Vehicle Usage </strong>
    </div>
    <div class="points_text">
      <strong> 1.1 </strong>The Lessee hereby agrees and covenants that the Vehicle shall
      be used in a prudent and careful manner solely for the Lessee’s personal
      use within the Permitted Territory and to that extent shall be driven only
      by the Lessee, in strict compliance with the requirements of the
      Applicable Laws (the “ <strong> Permitted Use </strong> ”).
    </div>
    <div class="points_text">
      <strong> 1.2 </strong> The Lessee further agrees and acknowledges that other than
      the Permitted Use, all other uses of the Vehicle including the usages
      listed below (by the Lessee and/or any other person(s) directly or
      indirectly acting through, authorised by or on behalf of the Lessee), are
      strictly prohibited (the “ <strong> Prohibited Use </strong> s”) and constitute a
      material breach of this Agreement:
    </div>
    <div class="sub_points">
      <strong> (i) </strong> Commercial use for any purpose whatsoever including usage for
      transportation services (goods and/or passengers) involving hire and/or
      reward.
    </div>
    <div class="sub_points">
      <strong> (ii) </strong> For providing driving lessons.
    </div>
    <div class="sub_points">
      <strong> (iii) </strong> For sports, adventure and/or participation in races,
      rallies, other competitive events, endurance test and similar events.
    </div>
    <div class="sub_points">
      <strong> (iv) </strong> For towing, pushing, or propelling any trailer or any other
      vehicle.
    </div>
    <div class="sub_points">
      <strong> (v) </strong> For providing driving lessons.For commission of any crime,
      illegal and/or unlawful activity(ies).
    </div>
    <div class="sub_points">
      <strong> (vi) </strong> For storage of any combustible, noxious or hazardous goods
      or any other good(s) which owing to its weight and/or structure adversely
      affect and/or damage the Vehicles, its interior, engine and/or any of its
      parts thereto and/or any other vehicle(s), person(s)/object(s) in such
      vehicle and/or pedestrian(s) passing the Vehicle.
    </div>
    <div class="sub_points">
      <strong> (vii) </strong> Taking the Vehicle outside the Permitted Territory.
    </div>
    <div class="sub_points">
      <strong> (viii) </strong> Any use(s) or activity(ies) that puts the Vehicle at a
      greater risk of damage.
    </div>
    <div class="sub_points">
      <strong> (ix) </strong> Any use that contravenes the terms and conditions of this
      Agreement, terms of the insurance relating to the Vehicle and/or the
      requirements of all Applicable Laws.
    </div>

    <div class="points_title">
        2. <strong> Lease Term </strong>
      </div>
      <div class="points_text">
        <strong> 2.1 </strong>The lease of the Vehicle to the Lessee shall be for a term commencing from the Delivery Date and 
        shall end as per booking end date as indicated in the app. and includes extensions expressly provided herein 
        (the “ <strong> Lease Term </strong> ”).
      </div>
      <div class="points_text">
        <strong> 2.2 </strong>The Lease Term may be extended for such period and on such terms and conditions as may be mutually 
        agreed upon by the Parties.
      </div>

      <div class="points_title">
        3. <strong> Insurance </strong>
      </div> 
      <div class="points_text">
        <strong> 3.1 </strong>Lessor shall at its own expense during the Lease Term and until the Vehicle is delivered back in 
        good working condition, comprehensively insure the Vehicle with an insurance company of its 
        choice (“ <strong> Vehicle Insurance </strong>”).
      </div>
      <div class="points_text">
        <strong> 3.2 </strong>The Vehicle Insurance will provide primary third-party liability protection, which will be to the 
        extent of claims / liabilities covered by the Vehicle insurer on the Vehicles for any/ all claims and/or 
        liabilities arising during the use or operation of the Vehicle by the Lessee.
      </div>
      <div class="points_text">
        <strong> 3.3 </strong>This shall not however cover the Own Damage and the Lessee will be responsible for any associated 
        costs and charges directly/indirectly personally attributable to the Lessee’s default with the terms of this 
        Agreement.  However, it is hereby clarified that if this third-party liability protection is extended by the 
        Lessor, it will not be applicable if the liability arises due to Lessee’ negligence, or breach of applicable 
        terms under this Agreement.
      </div>
      <div class="points_text">
        <strong> 3.4 </strong>The liability protection under the Vehicle Insurance applies only to claims of third-party bodily 
        injury, death, or property damage, other than to the Vehicle, arising from the use of Vehicle as permitted by 
        this Agreement and Applicable Laws. Any such protection excludes any claim made by the Lessee or co-passenger 
        or Lessee’ or co-passengers’ immediate family members who permanently live with the Lessee or was travelling 
        with the Lessee at the time of incident. This obligation may be limited to the extent the Vehicle Insurance’s 
        coverage applies. The Lessor shall in no event be liable to the Lessee and/or the co-passenger(s) for any indirect, 
        special, punitive, or consequential damages (including lost profits) arising from or related to the Vehicle, its use, 
        or this Agreement.
      </div>
      <div class="points_text">
        <strong> 3.5 </strong>The liability protection under the Vehicle Insurance applies only to claims of third-party bodily 
        injury, death, or property damage, other than to the Vehicle, arising from the use of Vehicle as permitted by 
        this Agreement and Applicable Laws. Any such protection excludes any claim made by the Lessee or co-passenger 
        or Lessee’ or co-passengers’ immediate family members who permanently live with the Lessee or was travelling 
        with the Lessee at the time of incident. This obligation may be limited to the extent the Vehicle Insurance’s 
        coverage applies. The Lessor shall in no event be liable to the Lessee and/or the co-passenger(s) for any indirect, 
        special, punitive, or consequential damages (including lost profits) arising from or related to the Vehicle, its use, 
        or this Agreement.
      </div>
      <div class="points_text">
        <strong> 3.6 </strong>In case of damage, theft, or destruction or any damage total or partial of the Vehicle during the Lease 
        Term and until the return of the Vehicle to the Lessor in good working condition, subject to the Lessee fulfilling 
        its obligations in respect thereof under Clause 8 above, the Lessee shall be liable for any costs that maybe incurred 
        for rectification/repair of the Vehicle due to such damages.
      </div>
      <div class="points_text">
        <strong> 3.7 </strong>Incase of a total loss or theft, the Lessee shall promptly notify the Platform and the Lessor of the 
        same and shall assist the Lessor in filing of complaint (in case of theft) or invoking such insurance claims by 
        providing all required documentation and details of the accident or damages to ensure that the Lessor may 
        effectively administer the claims from the insurance company.
      </div>
      <div class="points_text">
        <strong> 3.8 </strong>Lessor’s decision in that regard shall be final and binding on both Parties. In cases where the 
        Lessor decides not to file the claim, repair expenses shall be borne by the Lessee. except in cases of theft, 
        total loss, and/or situations where the Lessor is unable to claim insurance due to actions (or lack thereof) 
        attributable to the Lessee.
      </div>
      <div class="points_text">
        <strong> 3.9 </strong>The expenses associated with (a) any risks and ensuing damage to the Vehicle, which are not 
        fully covered by the Vehicle Insurance; (b) risks which are not borne by the Lessor in terms hereof shall 
        be borne by the Lessee. Accordingly, the Lessee shall pay to the Lessor the amount of loss and/or damage not 
        paid under the Vehicle Insurance and be liable for the following:
      </div>
      <div class="sub_points">
        <strong> (i) </strong> Damage to the Vehicle: The difference, if any, between the actual amount incurred in repairing 
        the damage to the Vehicle and the amounts recovered/to be recovered under the Vehicle Insurance.
      </div>
      <div class="sub_points">
        <strong> (ii) </strong> Theft/total loss of the Vehicle: (a) The shortfall between the claim amount received under the 
        Vehicle Insurance, and the book value of the Vehicle at that time of its theft/total loss; (b) if usage of 
        Vehicle at the time of its theft/total loss exceeds the Agreed Mileage, charge of the excess mileage incurred 
        as per the rate specified in the Fee Policy ; (c) other cost/expense incurred by the Lessor for  or in respect 
        of assessment loss suffered by the Vehicle and possibility of its restoration; and (d) other charges, if any, 
        remaining unpaid by Lessee under this Agreement.
      </div>
      <div class="last_points_text">
        <strong> 3.10 </strong>Notwithstanding the above in case the insurance claim for damages/loss to the Vehicle under the 
        Vehicle Insurance is repudiated or not admitted by the insurance company due to the mishandling/ negligence/ 
        fault/ rash driving/ any other illegal and unlawful use of the Vehicle by the Lessee;  or any third-party claims 
        rejected due to negligence/ misconduct/ rash driving/ other unlawful or illegal act on part of the Lessee causing 
        irreparable damage, the Lessee shall be solely liable to incur all the related damages, losses, costs and expenses.
      </div>
  </div>
 

  
</div>
