// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Redressed&family=Varela+Round&display=swap");

.nav_bar_admin_power_page{
  position: absolute;
  width: 1827px;
  height: 110px;
  left: 0px;
  top: 0px;
  background: #116754;
}
.main_div_for_admin_login_page {
  background-color: #eafaf1;
  background-image: url(index_image_flip.png);
  background-size: cover;
  margin-top: -19px;
  position: fixed;
  margin-left: -8px;
  padding-bottom: 1px;
  height: 958px;
  width: 100%;
}
.admin_login_and_image {
  display: flex;
  margin-top: 50px;
  margin-left: 70px;
}

.admin_login_blur_div {
  position: absolute;
  top: 90px;
  width: 1600px;
  height: 760px;
  margin-left: 100px;
  background-color: #11675444;
  border: 2px solid transparent;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  // box-shadow: 5px 5px 5px grey, -5px -5px 10px grey inset, 10px 10px 10px white inset;
  box-shadow: 0 0 2px rgb(220, 218, 218);
  display: flex;
  // background-color: black;
}
.admin_login_div_content {
  position: relative;
  width: 450px;
  height: 550px;
  margin-top: 50px;
  // margin-left: 400px;
  border-radius: 0 8px 8px 0;
  // box-shadow: 5px 5px 5px grey, -5px -5px 10px grey inset, 10px 10px 10px white inset;
  box-shadow: 0 0 2px rgb(220, 218, 218);
  background-color: white;
}
.form_contents {
  margin-top: 50px;
}

.admin_login_heading {
  text-align: center;
  margin-top: 120px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_welcome_content {
  font-size: 30px;
  font-weight: 600;
  margin-top: 200px;
  margin-left: 130px;
  color: white;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.input {
  width: 370px;
  height: 43px;
  margin-top: 40px;
  margin-left: 40px;
  border-bottom: 2px solid #6d828d;
}
.input:hover {
  border-bottom: 2px solid #116754;
}
.input input {
  width: 300px;
  height: 35px;
  margin-top: 5px;
  font-size: 18px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.input input::placeholder {
  color: #6d828d;
  font-size: 18px;
}
.submit_button_admin_login_page {
  width: 170px;
  height: 38px;
  margin-top: 50px;
  background-color: #116754;
  margin-left: 140px;
  border-radius: 8px;
}
.submit_button_admin_login_page input {
  width: 170px;
  height: 38px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background: none;
  color: white;
  border: none;
  outline: none;
}
.submit_button_admin_login_page input:hover {
  cursor: pointer;
  background-color: #116754;
  border-radius: 8px;
}
.admin_image_content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.657)),
    url(admin_login_cover_image.jpeg);
  background-size: cover;
  margin-top: 50px;
  margin-left: 300px;
  width: 450px;
  height: 550px;
  border-radius: 8px 0 0 8px;
}

// admin_power page

.nav_bar_add_car_button_admin_power_page {
  // background-color: blue;
  position: absolute;
  width: 90px;
  height: 34px;
  top: 22px;
  left: 1272px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.admin_car_listing_title{
  position: absolute;
  margin-left: 800px;
  margin-top: -100px;
  font-size: 33px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.admin_power_car_listing_main_div{
margin-top: 240px;
margin-left: 300px;
// background-color: darkkhaki;
}
.admin_power_car_listing_div{
  position: relative;
  margin-top: 40px;
  // margin-left: 380px;
  border-radius: 22px;
  width: 1200px;
  height: 200px;
  // background-color: #724949;
  box-shadow: 0 0 5px 3px rgb(214, 214, 214);
  // display: flex;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  // cursor: pointer;
}
.car_image_and_car_title_div{
  display: flex;
}
.admin_power_car_listing_image_div{
  // background-color: aqua;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  margin-left: 45px;
  height: 150px;
  width: 200px;
}
.img_preview{
  height: 200px;
  width: 250px;
  margin-top: 20px;
}
.admin_power_car_listing_car_name_div{
  // background-color: rgb(218, 109, 109);
  position: relative;
  margin-left: 50px;
  top: 25px;
  // display: flex;
  font-size: 33px;
  font-weight: 600;
  // justify-content: center;
  // align-items: center;
  width: 400px;
  height: 50px;
}
.admin_power_car_listing_per_day_price{
  // background-color: rgb(188, 231, 146);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100px;
  margin-left: 930px;
  width: 250px;
  height: 50px;
}
.admin_power_car_listing_owner_name_div{
  // background-color: rgb(18, 202, 202);
  position: relative;
  top: -110px;
  margin-left: 295px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 400px;
  height: 30px;
}
.admin_power_car_listing_Registration_no_div{
// background-color: darkgray;
position: relative;
top: -100px;
margin-left: 295px;
// display: flex;
// justify-content: center;
// align-items: center;
width: 400px;
height: 30px;
}
.admin_power_car_listing_fuel_type_div{
  // background-color: rgb(18, 202, 202);
  position: relative;
  top: -170px;
  margin-left: 680px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 230px;
  height: 30px;
}
.admin_power_car_listing_KM_driven_div{
  // background-color: darkgray;
position: relative;
top: -160px;
margin-left: 680px;
// display: flex;
// justify-content: center;
// align-items: center;
width: 230px;
height: 30px;
}
a{
  color: black;
  text-decoration: none;
}
.admin_power_car_listing_remove_car_div {
  // background-color: darkorchid;
  background-color: red;
  border-radius: 25px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
top: -200px;
margin-left: 960px;
width: 200px;
height: 40px;
}







// admin adding car page

.nav_bar_amdmi_home_button_admin_adding_car_page {
  //  background-color: blue;
  position: absolute;
  width: 150px;
  height: 34px;
  top: 22px;
  left: 1272px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.main_div_in_admin_adding_car_page {
  background-color: white;
  position: absolute;
  margin-top: 160px;
  box-shadow: 0 0 5px 3px rgb(214, 214, 214);
  display: flex;
  border-radius: 12px;
  margin-left: 350px;
  max-width: 1200px;
  height: 700px;
}
.admin_adding_cars_heading_div {
  // background-color: red;
  position: absolute;
  margin-top: 10px;
  margin-left: 450px;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.input_field_left {
  margin-top: 70px;
  margin-left: 100px;
  // background-color: rgb(145, 145, 185);
  width: 550px;
  height: 500px;
}
.admin_adding_car_owner_number_title {
  font-size: 20px;
  position: relative;
  top: 60px;
  line-height: 24px;
  color: #11D99B;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_adding_car_owner_number {
  margin-top: 70px;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 400px;
  height: 40px;
}
.admin_adding_car_name_title{
  font-size: 20px;
  position: relative;
  top: 40px;
  line-height: 24px;
  color: #11D99B;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_adding_car_name{
  margin-top: 50px;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 400px;
  height: 40px;
}

.admin_adding_car_km_driven_title{
  font-size: 20px;
  position: relative;
  top: 40px;
  line-height: 24px;
  color: #11D99B;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.range_field {
  margin-top: 50px;
}
.range_field_input {
  margin-top: 20px;
  -webkit-appearance: none;
  width: 370px;
  border-radius: 20px;
  height: 15px;
  outline: none;
  overflow: hidden;
  background: #e0e0e0;
}
.range_field_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border: 3px solid black;
  border-radius: 50%;
  background: white;
  box-shadow: -410px 0 0 400px #11d99b;
  cursor: pointer;
}
.range_field output {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #0aa172;
}
.admin_adding_car_per_day_price_title{
  font-size: 20px;
  position: relative;
  top: 40px;
  line-height: 24px;
  color: #11D99B;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_adding_car_per_day_price{
  margin-top: 50px;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 400px;
  height: 40px;
}


.input_field_right {
  margin-top: -500px;
  margin-left: 610px;
  width: 550px;
  height: 500px;
  // background-color: rgb(218, 172, 172);
}
.admin_adding_car_owner_name_title{
  font-size: 20px;
  position: relative;
  top: 60px;
  color: #11D99B;
  line-height: 24px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_adding_car_owner_name{
  margin-top: 70px;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 400px;
  height: 40px;
}
.admin_adding_car_registration_number_title{
  font-size: 20px;
  position: relative;
  top: 40px;
  color: #11D99B;
  line-height: 24px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_adding_car_registration_number{
  margin-top: 50px;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 400px;
  height: 40px;
}
.admin_adding_car_image_title{
  font-size: 20px;
  position: relative;
  top: 40px;
  color: #11D99B;
  line-height: 24px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_adding_image{
  margin-top: 50px;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 400px;
  height: 40px;
}

.radio_field {
  width: 400px;
  height: 100px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  // background-color: greenyellow;
  // border: none;
  margin-left: -10px;
  margin-top: 50px;
  }
.radio_field input[type="radio"] {
  display: none;
}
.radio_field .label {
  position: relative;
  padding: 10px 50px;
  font-size: 19px;
  font-weight: 500;
  top: 50px;
  right: 70px;
  color: #666;
  align-items: center;
  border-radius: 8px;
  border: 3px solid #e0e0e0;
}
.radio_field #petrol_label {
  left: 8px;
}
.radio_field .label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #e0e0e0;
  border-radius: 50%;
  left: 7%;
  top: 17%;
}
.fuel_field {
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: #11D99B;
}
.radio_field .label:hover {
  border: 3px solid #11d99b;
  cursor: pointer;
}
.radio_field .label:hover:before {
  border: 3px solid #11d99b;
}
.radio_field input[type="radio"]:checked ~ .label {
  background-color: #11d99b;
  color: white;
  font-weight: 600;
  border: 3px solid #11d99b;
}
.radio_field input[type="radio"]:checked ~ .label::before {
  height: 10px;
  width: 10px;
  border: 8px solid white;
  background-color: #11d99b;
}
.admin_adding_car_submit_button{
  width: 140px;
  height: 50px;
  margin-top: 50px;
  margin-left: 500px;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 1px;
  border: none;
  background-color: #11D99B;
  transition: 0.1s ease-in-out;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_adding_car_submit_button:hover{
  background-color: #0cc288;
  cursor: pointer;
}