// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Redressed&family=Varela+Round&display=swap");
.home_page_body {
  position: absolute;
  // background-position: fixed;
  background-color: #F8F8F8;
  width: 1842px;
  height: 100%;
  // height: 1500px;
  top: -10px;
  left: -10px;
  
}
.index_image {
  position: absolute;
  position: fixed;
  width: 1857px;
  height: 960px;
}
.nav_bar_home_page {
  position: absolute;
  width: 1857px;
  height: 110px;
  left: 0px;
  top: 0px;
  background: #116754;
}
.logo_image {
  position: absolute;
  width: 202.65px;
  height: 40.52px;
  left: 159.54px;
  top: 35.63px;
  cursor: pointer;
}
.nav_bar_text_button {
  position: absolute;
  width: 228px;
  height: 34px;
  top: 22px;
  left: 1172px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.user_image{
  width: 40px;
  height: 40px;
  margin-left: 140px;
  border-radius: 50%;
  margin-top: 5%;
  cursor: pointer;
}
.nav_bar_right_button {
  position: absolute;
  width: 163px;
  height: 47px;
  left: 1470px;
  top: 35px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 23px;
  line-height: 44px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  background-color: #11D99B;
  color: white;
  text-align: center;
  padding-top: 6px;
}
.nav_bar_right_button:hover {
  cursor: pointer;
  background-color: hsl(161, 85%, 42%);
  color: white;
}
.user_name_div{
  // background-color: yellow;
  font-size: 23px;
  font-weight: 600;
  margin-top: -37px;
  margin-left: 200px;
  position: absolute;
  color: white;
  width: 150%;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.profile_image {
  position: absolute;
  left: 5%;
  width: 22px;
  height: 23px;
}

.dropbtn {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 13px 16px;
  width: 200px;
  color: black;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  background: transparent;
  text-align: center;
  border: none;
}
.dropbtn_index_page{
  font-weight: 600;
  font-size: 1.3rem;
  width: 200px;
  color: black;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  background: transparent;
  text-align: center;
  border: none;
}

.dropbtn:hover{
  background-color: #1167543a;
  cursor: pointer;
}
.dropdown {
  // background-color: blue;
  position: relative;
  display: inline-block;
  width: 150px;
  left: 70%;
  top: 28%;
}
.logout_image {
  position: absolute;
  width: 30px;
  height: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  left: 140px;
  top: 100%;
  border-radius: 3px;
  height: auto;
  min-width: 160px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  z-index: 1;
}
.dropdown-content a {
  padding: 13px 16px;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  display: block;
}
a{
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #1167543a;
  cursor: pointer;

}
// .dropdown-content a:hover{
//   color: white;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
//   border-radius: 0 6px 6px 6px;
// }

// .dropdown:hover .dropbtn {
//   // background-color: hsl(161, 85%, 42%);
//   // border-radius: 12px 12px 0 12px;
// }


.home_page_car {
  position: absolute;
  position: fixed;
  width: 1000px;
  height: 600px;
  top: 340px;
  left: -20px;
}
.home_page_content {
  position: absolute;
  top: 50px;
}
.get_anywhere_text {
  position: absolute;
  width: 636px;
  height: 381px;
  left: 987px;
  top: 140px;
  font-weight: 800;
  font-size: 87.338px;
  line-height: 106px;
  text-align: right;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: white;
}
.faster_text {
  position: absolute;
  left: 1370px;
  top: 230px;
  font-weight: 800;
  font-size: 87.338px;
  line-height: 106px;
  text-align: right;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: white;
}
.about_app_first_line {
  position: absolute;
  width: 636px;
  left: 1000px;
  top: 450px;
  font-size: 23px;
  font-weight: 500;
  text-align: right;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: white;
}
.about_app_second_line {
  position: absolute;
  width: 636px;
  left: 1000px;
  top: 480px;
  font-size: 23px;
  font-weight: 500;
  text-align: right;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: white;
}
.take_a_ride_button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1390px;
  top: 655px;
  background: #116754;
  border-radius: 12px;
  font-weight: 600;
  font-size: 23px;
  line-height: 44px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  background-color: #116754;
  color: white;
  text-align: center;
  padding-top: 10px;
  transition: 0.2s ease-in-out;
}
.take_a_ride_button:hover {
  cursor: pointer;
  background-color: #147c65;
}


// login and sign up page


.login_and_signup_page_div {
  position: fixed;
  background-color: #F8F8F8;
  width: 1858px;
  height: 100%;
  height: 1500px;
  top: -10px;
  left: -10px;
}
.main_div_in_login_page_and_signup_page {
  background-color: white;
  position: relative;
  margin-top: 120px;
  box-shadow: 0 0 5px 3px rgb(214, 214, 214);
  display: flex;
  border-radius: 12px;
  margin-left: 150px;
  max-width: 1500px;
  height: 750px;
}
.login_container {
  position: relative;
  margin-left: 100px;
  margin-top: 70px;
  width: 700px;
  height: 600px;
  border-radius: 22px 0 0 22px;
  box-shadow: 0 0 5px 2px rgb(214, 214, 214);
  background-color: white;
}
.login_sign_up_contents{
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
}
.signup_redirecting_container{
  margin-top: 150px;
  width: 610px;
  height: 430px;
  border-radius: 0 22px 22px 0;
  box-shadow: 0 0 2px 2px rgb(214, 214, 214);
  background-color: #116754;
}
.login_title {
  color: black;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
// .login_title::before {
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: -10px;
//   height: 4px;
//   width: 100%;
//   background: #116754;
// }
.admin_redirect {
  font-size: 19px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.admin_redirect a{
  text-decoration: none;
  font-weight: 1000;
  color: #116754;
}
.sign_in_to_account_text_div {
  margin-top: 150px;
  font-size: 19px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.flash_error_login_page{
  color: red;
  position: absolute;
  margin-left: -210px;
  font-size: 19px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
margin-top: 185px;
  height: 66px;
  width:auto ;
  font-weight: bold;
}

.login_input_elements {
  position: absolute;
  margin-top: 220px;
  margin-left: -210px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.login_input_email_and_signup_input_username {
  margin-bottom: 50px;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 600px;
  height: 40px;
}
.login_input_password {
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 600px;
  height: 40px;
}
.login_input_password::placeholder {
  font-size: 40px;
}
.submit_and_forget_password_div_login_page {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  
}
.login_button_login_page_and_signup_button_signup_page {
  width: 140px;
  height: 50px;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 1px;
  border: none;
  background-color: #11D99B;
  transition: 0.1s ease-in-out;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.login_button_login_page_and_signup_button_signup_page:hover {
  background-color: #0cc288;
  cursor: pointer;
}
.forget_password_login_page a {
  text-decoration: none;
  color: #116754;
  font-size: 22px;
  transition: 0.2s ease-in-out;
}
.forget_password_login_page a:hover {
  color: #009E66;
}

.signup_redirecting_main_div_in_login_page_and_login_redirecting_main_div_in_signup_page{
  margin-top: 50px;
  margin-left: 20px;
}
.signup_redirecting_title_login_page_and_login_redirecting_title_in_signup_page {
  margin-top: 50px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}

// .signup_redirecting_title_login_page_and_login_redirecting_title_in_signup_page::before {
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: -6px;
//   height: 4px;
//   width: 55%;
//   background: white;
// }
.signup_redirecting_asking_div_login_page_and_login_redirecting_asking_div_in_signup_page {
  margin-top: 140px;
  width: 600px;
  font-size: 23px;
  color: white;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.signup_redirecting_button_in_login_page_and_login_redirecting_button_in_signup_page {
  position: absolute;
  margin-top: 250px;
  width: 140px;
  height: 38px;
  text-align: center;
  padding-top: 8px;
  border-radius: 12px;
  color: white;
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 1px;
  border: 3px solid white;
  background: none;
  transition: 0.2s ease-in-out;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.signup_redirecting_button_in_login_page_and_login_redirecting_button_in_signup_page:hover {
  border: 3px solid #116754;
  background: white;
  cursor: pointer;
  color: #116754;
}


// sign up extra css


.signup_container{
  position: absolute;
  margin-left: 652px;
  float: right;
  margin-top: 50px;
  border-radius: 0 22px 22px 0;
  width: 700px;
  height: 650px;
  box-shadow: 0 0 5px 2px rgb(214, 214, 214);
  background-color: white;
}

.signup_title{
  color: black;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
// .signup_title::before{
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: -6px;
//   height: 4px;
//   width: 55%;
//   background: #116754;
// }
.login_redirecting_container{
  margin-top: 150px;
  position: relative;
  border-radius: 22px 0 0 22px;
  left: 100px;
  float: left;
  width: 550px;
  height: 430px;
  box-shadow: 0 0 2px 2px rgb(214, 214, 214);
  background-color: #116754;
}
.flash-error_signup_page{
  margin-top: 110px;
  color: red;
  position: absolute;
  margin-left: -240px;
  font-size: 19px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  overflow: scroll;
  height: 66px;
  width:auto ;
  font-weight: bold;
}
.flash-error_signup_page::-webkit-scrollbar{
  display: none;
}

.sign_up_to_account_text_div{
  // background-color: turquoise;
  margin-top: 80px;
  font-size: 19px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.signup_input_elements{
  position: absolute;
  margin-top: 180px;
  margin-left: -240px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.submit_div{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.signup_input_email{
  margin-bottom: 50px;
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 600px;
  height: 40px;
}
.signup_input_password{
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 600px;
  height: 40px;
}
.signup_input_password::placeholder{
  font-size: 40px;
}


// become_a_host_page

.nav_bar_contact_us_button {
  position: absolute;
  width: 123px;
  height: 34px;
  top: 22px;
  left: 1050px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.nav_bar_become_a_host_page{
  position: absolute;
  position: fixed;
  z-index: 1;
  width: 1832px;
  height: 110px;
  left: 0px;
  top: 0px;
  background: #116754;
}
.nav_bar_tcs_button {
  position: absolute;
  width: 62px;
  height: 34px;
  top: 22px;
  left: 1250px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.nav_bar_admin_button {
  position: absolute;
  width: 82px;
  height: 34px;
  top: 22px;
  left: 1325px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.become_a_host_page_contents {
  top: 150px;
  left: 159.54px;
  height: 800px;
  width: 1480px;
  position: absolute;
}
.become_a_host_page_cover_div {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.918),
      rgba(0, 0, 0, 0.021)
    ),
    url(become_a_host_cover_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1480px;
  height: 500px;
  position: absolute;
  border-radius: 10px;
}
.become_a_host_page_cover_contents {
  margin-top: 150px;
  font-size: 48.338px;
  font-weight: 800;
  line-height: 106px;
  margin-left: 20px;
  text-align: left;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: white;
}
.Earn_upto_text {
  margin-top: -80px;
}
.steps_to_share_my_car_button{
  position: absolute;
  width: 300px;
  height: 50px;
  left: 30px;
  top: 350px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 23px;
  line-height: 44px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  background-color: #116754;
  color: white;
  text-align: center;
  padding-top: 10px;
  transition: 0.2s ease-in-out;
}
.steps_to_share_my_car_button:hover{
    cursor: pointer;
    background-color: #147c65;
}
html{
  scroll-behavior: smooth;
}
.steps_to_become_host_div {
  //   background-color: rgb(169, 172, 126);
  margin-top: 532px;
  width: 1480px;
  height: 500px;
  position: absolute;
}
.simple_steps_title {
  font-size: 48.338px;

  font-weight: 800;
  line-height: 106px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: black;
}
.hours_text_in_title {
  margin-top: -80px;
  line-height: 80px;
  margin-bottom: 150px;
}
.steps_text_content {
  //   background-color: chartreuse;
  margin-left: 150px;
  //   margin-top: -24px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  text-align: left;
}

.steps_title {
  // background-color: blue;
  font-size: 23px;
  width: 600px;
  font-weight: 600;
  line-height: 80px;
  word-spacing: 3px;
}
.steps_content {
  //   background-color: burlywood;
  font-size: 18px;
  width: 600px;
  line-height: 28px;
  text-align: left;
  word-spacing: 3px;
}
.steps_content a{
  color: hsl(161, 85%, 42%);
  text-decoration: none;
}
.steps_content a:hover{
  color: #11D99B;
  cursor: pointer;
}
.test_image {
  margin-top: 20px;
  margin-left: 200px;
  height: 250px;
  width: 400px;
}
.send_mail_image{
  // margin-top: 20px;
  margin-left: 100px;
  height: 250px;
  width: 400px;
}
.hand_over_car_image_image{
  margin-left: 150px;
  height: 250px;
  width: 300px;
}
.car_verification_image{
  margin-top: -10px;
  margin-left: 150px;
  height: 270px;
  width: 320px;
}
.steps_div{
  margin-left: 100px;
}
.first_step_div {
      // background-color: rgb(172, 126, 126);
    // margin-top: 20px;
    width: 1480px;
    height: 500px;
    position: absolute;
    font-family: "Jost", sans-serif;
    font-family: "Redressed", cursive;
    font-family: "Varela Round", sans-serif;
    color: black;
    display: flex;
  }
.second_step_div {
  margin-top: 330px;
  margin-left: -30px;
  width: 1480px;
  height: 500px;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: black;
  display: flex;
}
.third_step_div {
  margin-top: 640px;
  width: 1480px;
  height: 500px;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  color: black;
  display: flex;
}

// terms and_condition_page

.nav_bar_terms_and_condition_page{
  position: absolute;
  width: 1832px;
  height: 110px;
  left: 0px;
  top: 0px;
  background: #116754;
}
.nav_bar_tcs_button_terms_and_condition_page{
  position: absolute;
  width: 62px;
  height: 34px;
  top: 22px;
  left: 1400px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.nav_bar_contact_us_button_terms_and_condition_page{
  position: absolute;
  width: 123px;
  height: 34px;
  top: 22px;
  left: 1150px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.terms_and_conditions_div{
  // background-color: blanchedalmond;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
  margin-left: 70px;
  margin-top: 100px;
}
.terms_ad_conditions_title{
  font-size: 25px;
  
  margin-top: 30px;
  margin-left: 650px;
}
.note_in_tcs{
  font-size: 17px;
  margin-top: 20px;
  margin-left: 250px;
}
.points_title{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 250px;
}
.points_text{
  font-size: 18px;
  margin-left: 250px;
  margin-top: 20px;
  width: 1200px;
}
.sub_points{
  font-size: 18px;
  margin-left: 280px;
  margin-top: 20px;
  width: 1200px;
}
.last_points_text{
  font-size: 18px;
  margin-left: 250px;
  margin-top: 20px;
  width: 1200px;
  margin-bottom: 50px;
}


// contact_us_page

.contact_us_main_div{
  width: 700px;
  height: 350px;
  box-shadow: 0 0 5px 3px rgb(214, 214, 214);
  position: absolute;
  border-radius: 22px;
  margin-left: 550px;
  margin-top: 210px;
}
.user_name_in_conatct_us_page{
  margin-top: 50px;
  background: none;
  font-size: 22px;
  border: none;
  outline: none;
  margin-left: 150px;
  border-bottom: 3px solid rgb(119, 119, 119);
  width: 350px;
  height: 40px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.query_in_contact_us_page{
  margin-top: 50px;
  background: none;
  font-size: 19px;
  margin-left: 150px;
  border: 3px solid rgb(119, 119, 119);
  width: 350px;
  height: 60px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.query_in_contact_us_page::-webkit-scrollbar{
  display: none;
}
.submit_buttton_in_contact_us_page{
  width: 180px;
  height: 50px;
  margin-top: 30px;
  margin-left: 250px;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 1px;
  border: none;
  background-color: #11d99b;
  transition: 0.1s ease-in-out;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.submit_buttton_in_contact_us_page:hover{
  background-color: #0cc288;
  cursor: pointer;
}

.contact_us_or_text_div{
  position: absolute;
  font-size: 22px;
  margin-top: 600px;
  margin-left: 750px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.contact_us_bottom_div{
  position: absolute;
  width: 700px;
  box-shadow: 0 0 5px 3px rgb(214, 214, 214);
  height: 250px;
  // background-color: #F8F8F8;
  display: flex;
  border-radius: 12px;
  margin-top: 650px;
  margin-left: 550px;

}
.contact_us_through_mail{
  // background-color: blueviolet;
  width: 350px;
  height: 250px;
  border-radius: 12px 0 0 12px;
}
.contact_us_through_mail:hover{
  background-color: #F8F8F8;
cursor: pointer;
}
.write_an_mail_text_div{
  font-size: 22px;
  // font-weight: 600;
  // margin-top: 20px;
  color: black;
  margin-left: 30px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.write_an_mail_text{
  position: absolute;
  margin-top: 30px;
}
.expect_reply_text{
  font-size: 18px;
  color: darkgray;
  margin-top: 70px;
  margin-left: 30px;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.email_text{
  font-size: 20px;
  font-weight: 600;
  color: #11D99B;
  position: absolute;
  margin-top: 180px;
  margin-left: 30px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.contact_us_through_mobile{
  // background-color: cadetblue;
  width: 350px;
  height: 250px;
  border-radius: 0 12px 12px 0;
}
.contact_us_through_mobile:hover{
  background-color: #F8F8F8;
cursor: pointer;
}
.call_us_text_div{
  font-size: 22px;
  // font-weight: 600;
  margin-top: 30px;
  color: black;
  margin-left: 30px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.available_text{
  font-size: 18px;
  color: darkgray;
  margin-top: 10px;
  margin-left: 30px;
  position: absolute;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}
.number_text{
  font-size: 20px;
  font-weight: 600;
  color: #11D99B;
  // position: absolute;
  margin-top: 125px;
  margin-left: 30px;
  font-family: "Jost", sans-serif;
  font-family: "Redressed", cursive;
  font-family: "Varela Round", sans-serif;
}